.bodyclass-light{
	background-color: cornsilk;
}

.bodyclass-dark{
	background-color: darkgray;
}

#theme-selector{
	position: absolute;
	right: 20px;
	top: 20px;
}

#login-form{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 550px;
	height: 150px;
	border: 2px solid black;
	padding: 2%;
	margin: auto;
}

#loginform-name{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 30px;
}

#div-level-of-difficulty{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

#player-name{
	margin-left: 2px;
}

#submit{
	margin-top: 2px;
	margin-right: 5px;
}

#login-error h4{
	color: red;
}

h2{
	text-align: center;
}

#top-panel{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	height: 90%;
	border: 2px solid black;
	padding: 5%;
	margin-bottom: 20px;
}

#top-left{
	display: flex;
	flex-flow: column nowrap;
	margin: 20px;
	padding: 5px;
}

#timer-panel{
	display: flex;
	flex-flow: row nowrap;
}

#timer{
	display: flex;
	flex-flow: row nowrap;
	width: 40px;
	height: 20px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

#score-field{
	display: flex;
	flex-flow: column wrap;
	/* justify-content: space-between; */
	width: 50%;
	height: 90%;
	border: 1px solid black;
	/* padding: 5px; */
}

#score-field h4{
	color: green;
}

#scores{
	display: flex;
	flex-flow: row nowrap;
	/* justify-content: space-between; */
	/* width: auto; */
	margin: 7px;
	padding: 0;
}

#playerScore{
	width: 50%;
	margin: 0;
	margin-right: auto;
	overflow-y: auto;
	scrollbar-width: thin;
}

#playersScores{
	width: 50%;
	height: 300px;
	margin: 0;
	margin-left: auto;
	overflow-y: auto;
	scrollbar-width: thin;

}

#game-field{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
	height: 90%;
	border: 2px solid black;
	padding: 5%;
}

#dropzone{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: 90%;
	border: 2px solid black;
	padding: 5%;
	margin-bottom: 50px;
	background: cornflowerblue;
}

/* Boxes*/

.big{
	width: 100px;
	height: 100px;
	margin: 5px;
}

.medium{
	width: 75px;
	height: 75px;
	margin: 5px;
}

.small{
	width: 50px;
	height: 50px;
	margin: 5px;
}


/* Figures */

.triangle{
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	background-color: red;
}

.circle{
	width: 100%;
	height: 100%;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.square{
	width: 100%;
	height: 100%;
	background: red;
}

.triangle:hover, .circle:hover, .square:hover{
	background: royalblue;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Blinking */

@keyframes blinker {
	0% {
	  opacity: 1.0;
	}
	50% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
}




/* Colors of figures */

.yellow{
	background: yellow;
}

.green{
	background: green;
}

.orange{
	background: orange;
}